<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" method="POST" enctype="form-data"><br>

        App <input type="text" placeholder="App name" name="App" value=<%=OriginalData.App%>><br><br>

        status <input type="text" placeholder="status" name="status" value=<%=OriginalData.status%>><br><br>
        <!-- _id <input type="text" placeholder="_id" name="_id" value=<%=OriginalData._id%>><br><br> -->
        app_id <input type="text" placeholder="app_id" name="app_id" value=<%=OriginalData.app_id%>><br><br>
        fb_rewarded_id <input type="text" placeholder="fb_rewarded_id" name="fb_rewarded_id" value=<%=OriginalData.fb_rewarded_id%>><br><br>
        fb_rewarded_display_type <input type="text" placeholder="fb_rewarded_display_type" name="fb_rewarded_display_type" value=<%=OriginalData.fb_rewarded_display_type%>><br><br>
        fb_banner_id <input type="text" placeholder="fb_banner_id" name="fb_banner_id" value=<%=OriginalData.fb_banner_id%>><br><br>
        fb_banner_display_type <input type="text" placeholder="fb_banner_display_type" name="fb_banner_display_type" value=<%=OriginalData.fb_banner_display_type%>><br><br>
        fb_interstitial_id <input type="text" placeholder="fb_interstitial_id" name="fb_interstitial_id" value=<%=OriginalData.fb_interstitial_id%>><br><br>
        fb_interstitial_display_type <input type="text" placeholder="fb_interstitial_display_type" name="fb_interstitial_display_type" value=<%=OriginalData.fb_interstitial_display_type%>><br><br>
        fb_native_id <input type="text" placeholder="fb_native_id" name="fb_native_id" value=<%=OriginalData.fb_native_id%>><br><br>
        fb_native_banner_id <input type="text" placeholder="fb_native_banner_id" name="fb_native_banner_id" value=<%=OriginalData.fb_native_banner_id%>><br><br>
        fb_native_display_type <input type="text" placeholder="fb_native_display_type" name="fb_native_display_type" value=<%=OriginalData.fb_native_display_type%>><br><br>
        admob_rewarded_display_type <input type="text" placeholder="admob_rewarded_display_type" name="admob_rewarded_display_type" value=<%=OriginalData.admob_rewarded_display_type%>><br><br>
        admob_publisher_id <input type="text" placeholder="admob_publisher_id" name="admob_publisher_id" value=<%=OriginalData.admob_publisher_id%>><br><br>
        admob_app_id <input type="text" placeholder="admob_app_id" name="admob_app_id" value=<%=OriginalData.admob_app_id%>><br><br>
        admob_rewarded_id <input type="text" placeholder="admob_rewarded_id" name="admob_rewarded_id" value=<%=OriginalData.admob_rewarded_id%>><br><br>
        admob_interstitial_video_id <input type="text" placeholder="admob_interstitial_video_id" name="admob_interstitial_video_id" value=<%=OriginalData.admob_interstitial_video_id%>><br><br>
        admob_banner_id <input type="text" placeholder="admob_banner_id" name="admob_banner_id" value=<%=OriginalData.admob_banner_id%>><br><br>
        admob_medium_ractangle_id <input type="text" placeholder="admob_medium_ractangle_id" name="admob_medium_ractangle_id" value=<%=OriginalData.admob_medium_ractangle_id%>><br><br>
        admob_banner_display_type <input type="text" placeholder="admob_banner_display_type" name="admob_banner_display_type" value=<%=OriginalData.admob_banner_display_type%>><br><br>
        admob_interstitial_id <input type="text" placeholder="admob_interstitial_id" name="admob_interstitial_id" value=<%=OriginalData.admob_interstitial_id%>><br><br>
        admob_rewarded_interstitial_id <input type="text" placeholder="admob_rewarded_interstitial_id" name="admob_rewarded_interstitial_id" value=<%=OriginalData.admob_rewarded_interstitial_id%>><br><br>
        admob_interstitial_dislpay_type<input type="text" placeholder="admob_interstitial_dislpay_type" name="admob_interstitial_dislpay_type" value=<%=OriginalData.admob_interstitial_dislpay_type%>><br><br>
        admob_native_id<input type="text" placeholder="admob_native_id" name="admob_native_id" value=<%=OriginalData.admob_native_id%>><br><br>
        admob_native_advance_id<input type="text" placeholder="admob_native_advance_id" name="admob_native_advance_id" value=<%=OriginalData.admob_native_advance_id%>><br><br>
        admob_native_advance_video_id<input type="text" placeholder="admob_native_advance_video_id" name="admob_native_advance_video_id" value=<%=OriginalData.admob_native_advance_video_id%>><br><br>
        admob_native_display_type<input type="text" placeholder="admob_native_display_type" name="admob_native_display_type" value=<%=OriginalData.admob_native_display_type%>><br><br>
        items_beetween_banner_ads <input type="text" placeholder="items_beetween_banner_ads" name="items_beetween_banner_ads" value=<%=OriginalData.items_beetween_banner_ads%>><br><br>
        items_between_interstitial_ads<input type="text" placeholder="items_between_interstitial_ads" name="items_between_interstitial_ads" value=<%=OriginalData.items_between_interstitial_ads%>><br><br>
        ads_status<input type="text" placeholder="ads_status" name="ads_status" value=<%=OriginalData.ads_status%>><br><br>
        message <input type="text" placeholder="message" name="message" value=<%=OriginalData.message%>><br><br>
        <button>submit</button>
    </form>

</body>
</html>