<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table {
          font-family: arial, sans-serif;
          width: 100%;
        }

        td, th {
          text-align: left;
          padding: 8px;
        }

    </style>

</head>
<body>

    <table>

        <tr>

          <th>App Name</th>
          <th>Update data</th>
          <th>Get data</th>

        </tr>

        <% for(var i=0; i<OriginalData.length; i++) {%>
            <tr>
                <td><%= OriginalData[i].App%></td>
                <td><a style="text-decoration: none; color: black;" href=<%= OriginalData[i].App%>>Update <%= OriginalData[i].App%> ads </a></td>
                <td><a style="text-decoration: none; color: black;" href=<%= OriginalData[i].App%>/data>Get <%= OriginalData[i].App%> ads </a></td>
            </tr>
        <% } %>

        <tr>
          <td><a href="Add"><img src="Plus.png" alt="Girl in a jacket" width="10" height="10"></a></td>
          <td></td>
          <td></td>
      </tr>

      </table>

</body>
</html>
